<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/espresso.jpg" width="200">
    <div><a class="navbar-brand page-title" href="/admin">Manage coffee suppliers</a></div>  <!-- ← CHANGED: Updated title and href -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/suppliers">Administrator home</a>  <!-- ← CHANGED: Updated text and href -->
                <a class="nav-link" href="/admin/suppliers">Suppliers list</a>  <!-- ← CHANGED: Updated href -->
                <a class="nav-link" href="/">Customer home</a>  <!-- ← ADDED: New customer home link -->
            </li>
        </ul>
    </div>
</nav>